@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript">
    function Disable() {
        document.getElementById("btnDB").Disable = true;
        document.getElementById("Status").innerHTML = "The insertion will take a few minutes. Please be patient";
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click on the below button to Download the file, extract its content and insert into the Database in chunks of 5000.</p>
    

    @using (Html.BeginForm())
    {
        <input type="submit" value="Insert to DB" id="btnDB" style="margin:15px 140px 60px 30px" onclick="Disable()" />
    }
    <p id="Status"></p>
</div>
